.b-ph{
    width:30vw ;
    border-radius: 50%;
    margin-left: 35vw;
    height: 30vw;
}
.b-text{
    background-color: black;
    color:aliceblue;
}
.b-vid{
    margin-left: 10vw;
}
.b-text2{
    background-color: black;
    color:aliceblue;
}
